* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    background: azure;
    position: relative;
}

.battle-ground {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.bot {
    width: 100%;
}

.bot__counts {
    display: flex;
}

.bot__count {
    margin-right: 10px;
}

.bot__counts .bot__count:last-of-type {
    margin-right: 0;
}

.total-counter {
    max-width: 600px;
    margin: 0 auto;
}

.show {
    display: block !important;
}

.loader {
    position: absolute;
    left: 50%;
    right: 50%;
    display: none;
}
