* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    background: azure;
}

.battle-ground {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.bot {
    width: 100%;
}

.bot__counts {
    display: flex;
}

.bot__count {
    margin-right: 10px;
}

.bot__counts .bot__count:last-of-type {
    margin-right: 0;
}
